@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #1a1a1a no-repeat center / 100% 100% fixed;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Ubuntu Mono", monospace !important; */
    color: #eee !important;
}

.btn {
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1rem;
    border-radius: 3px;
}

.btn-success {
    background: #008074;
    border: 1px #008074 solid;
    box-shadow: 0 0px 20px #0080744a;
}

.btn-success:hover {
    background: #005249;
    border: 1px #005249 solid;
    box-shadow: 0 0px 20px #0052494a;
}

.btn-success:active {
    background: #005249 !important;
    border: 1px #005249 solid !important;
    box-shadow: 0 0px 20px #0052494a;
}

.btn-success:disabled {
    background: #005249 !important;
    border: 1px #005249 solid !important;
    box-shadow: 0 0px 20px #0052494a;
}

.btn-warning {
    background: #a95c23;
    border: 1px #a95c23 solid;
    box-shadow: 0 0px 20px #a95c234a;
    color: #fff;
}

.btn-warning:hover {
    background: #81471b;
    border: 1px #81471b solid;
    box-shadow: 0 0px 20px #81471b4a;
    color: #fff;
}

.btn-warning:active {
    background: #81471b !important;
    border: 1px #81471b solid !important;
    box-shadow: 0 0px 20px #81471b;
}

.btn-warning:disabled {
    background: #81471b !important;
    border: 1px #81471b solid !important;
    box-shadow: 0 0px 20px #81471b;
}

nav {
    background: #11111125;
    color: azure;
    backdrop-filter: blur(20px);
}

nav .nav-links,
.nav-links text {
    color: #eee !important;
    text-transform: lowercase !important;
    font-size: 1rem;
    font-weight: bold;
    transition: .2s ease;
}

nav .nav-links text:hover {
    color: #03c9b5 !important;
    text-transform: lowercase !important;
    font-size: 1rem;
    font-weight: bold;
    transition: .2s ease;
}

.technology {
    background: #333;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: .2s ease;
}

.technology.selected {
    transition: background-color 0.5s;
    background-color: #8320f5;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
}

.technology:hover {
    background: #8320f5;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: .2s ease;
}

.close {
    text-align: end;
}

.close .buttn {
    cursor: pointer;
}

.close .buttn:hover {
    cursor: pointer;
    color: #03c9b5;
}

.form-control::placeholder {
    color: #666;
}

.form-control {
    color: #eee;
    background-color: #1a1a1a;
    border: 1px solid #333;
}

.form-control:focus {
    color: #eee;
    background-color: #1a1a1a;
    border: 1px solid #8320f5;
    box-shadow: none;
}